.heading{
  text-align: center;
  margin-top: 20px;
  position: relative
}
#content{
  padding: 10px;
  margin-top: 40px;
}
#box{
  border: 2px solid black;
  background-color: grey;
  padding: 5px;
  margin-top: 50px;
  width: 80%;
  margin-left: 30px;
  position: relative;

  }
 .container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
 }
#tag{
  border: 2px solid black;
  background-color: pink;
  width: 90px;
  float: right;

}
.tag-text{
  text-align: center;
  text-transform: uppercase;
}


@media screen and (min-width:768px) and (max-width:991px){
  #box:last-child{
    width: 880px;
  }
}
@media screen (max-width:767px){
  #box{
    width: 100%;
    flex-direction: column;
  }
}
